* {
  box-sizing: border-box;
}
body,
html {
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
img {
  max-width: 100%;
}
