* {
  box-sizing: border-box;
}
body,
html {
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  font-display: swap;
}
p {
  line-height: 1.8;
}
img {
  max-width: 100%;
}
.popupbox-wrapper {
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
  max-height: 100% !important;
}
h1 {
  font-family: "Gothic A1", sans-serif;
  font-display: swap;
}
h2 {
  font-family: "Gothic A1", sans-serif;
  font-display: swap;
}
h3 {
  font-family: "Gothic A1", sans-serif;
  font-display: swap;
}
h4 {
  font-family: "Gothic A1", sans-serif;
  font-display: swap;
}
h5 {
  font-family: "Gothic A1", sans-serif;
  font-display: swap;
}
h6 {
  font-family: "Gothic A1", sans-serif;
  font-display: swap;
}
.alice-carousel__dots {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

/* .slide-container {
  width: 70%;
  margin: auto;
}

h3 {
  text-align: center;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
} */
