* {
  box-sizing: border-box;
}
body,
html {
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  font-display: swap;
}
html {
  background-image: url("../images/bg-topo-repeat.png");
  background-repeat: repeat;
  background-size: 100%;
}
p {
  line-height: 1.8;
}
img {
  max-width: 100%;
}
.popupbox-wrapper {
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
  max-height: 100% !important;
}
h1 {
  font-family: "Gothic A1", sans-serif;
  font-display: swap;
  color: #bab195;
}
h2 {
  font-family: "Gothic A1", sans-serif;
  font-display: swap;
  color: white;
}
h3 {
  font-family: "Gothic A1", sans-serif;
  font-display: swap;
  color: white;
}
h4 {
  font-family: "Gothic A1", sans-serif;
  font-display: swap;
  color: white;
}
h5 {
  font-family: "Gothic A1", sans-serif;
  font-display: swap;
  color: white;
}
h6 {
  font-family: "Gothic A1", sans-serif;
  font-display: swap;
  color: white;
}
.sidebar h2,
.sidebar h3,
.sidebar h4,
.sidebar h5,
.sidebar h6 {
  color: #3f4335;
}
.alice-carousel__dots {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.react-slideshow-wrapper,
.popupbox-overlay,
.popupbox-wrapper {
  background-color: rgba(59, 62, 57, 0.6) !important;
}
/* .slide-container {
  width: 70%;
  margin: auto;
}

h3 {
  text-align: center;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
} */
